<!DOCTYPE HTML>
<html>
<title>Cookie Mapper</title>

<head></head>
<body>
<div id="wrapper">
    <div id="title-wrapper">
        <div class="cookie-image"><img src="images/cookie-monster.png"/></div>
        <div id="right-title-wrapper">
            <h1>Me want cookie!</h1>
            <h4>I will strip all but the 'Access' cookies, and re-map those to the selected host</h4>
        </div>
    </div>

    <label for="input-cookie">Paste your Firefly cookies here</label>
    <textarea class="cookie-area" id="input-cookie"></textarea>
    <div class="flex-row">
        <button class="do-map-cookie button blue" onclick="mapCookie('127.0.0.1')">Map to 127.0.0.1</button>
        <button class="do-map-cookie button blue" onclick="mapCookie('localhost')">Map to localhost</button>
    </div>
    <label for="output-cookie">See your local cookies here</label>
    <textarea class="cookie-area" id="output-cookie" onclick="this.focus();this.select()"></textarea>
    <div id="mapped-cookie-count">Mapped {{visits}} cookies since last reboot.</div>
</div>
</body>
<link rel="stylesheet" href="css/style.css" media="all" type="text/css"/>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io('http://cookie-mapper.apps.dulcetsoftware.com');
    socket.on('welcome', function (message) {
        console.log(message);
    });
    socket.on('update-cookie-count', function(count){
        updateCookieCountInView(count);
    });
    function sendToServer(){
        socket.emit('cookies-parsed');
    }
</script>
<script src="js/main.js"></script>
</html>
