body {
  font-family: sans-serif;
}

#wrapper {
  display: flex;
  flex-flow: column nowrap;
}
.cookie-area {
  width: 600px;
  height: 200px;
  overflow-y: scroll;
  border: 1px solid #ddd;
  font-size: 14px;
  margin: 10px 0 10px 0;
}

label {
  padding: 0 10px 0 10px;
}

.do-map-cookie {
  margin: 10px;
  width: 200px;
  border-radius: 4px;
}

.flex-row {
  flex-flow: row nowrap;
}
